body {
    background-color: #add8e6;
}

#xavheader {
    color: #ff0000;
}

.join {
    background-color: #1c87c9; 
    border: none; 
    color: white; 
    padding: 5px 5px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    margin: 4px 2px; 
    cursor: pointer; 
}

.section {
    background-color: yellow;
    padding: 5px;
}